{% extends "base.html" %} {% block title %}{% endblock title %} {% block css
%}{% endblock css %} {% block content %}
<h1>Poll COVID</h1>
<p>
  Do you ever wonder if Coronavirus will ever end? Well, we don't know yet.
  Hopefully it will but in the meantime, we should use as many safety measures
  available right now as we can. That's why we are here, to provide you with
  honest feedback polled from other users like you! We will provide you with the
  safest places to go to during these times and the most dangerous places. 
  You can recieve or give feedback on various stores around the globe. Enjoy!
</p>
{% endblock content %} {% block script %} {% endblock script %}
